@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 270 80% 10%;
    --card: 0 0% 100%;
    --card-foreground: 270 80% 10%;
    --popover: 0 0% 100%;
    --popover-foreground: 270 80% 10%;
    --primary: 270 65% 52%;
    --primary-foreground: 0 0% 100%;
    --secondary: 270 40% 92%;
    --secondary-foreground: 270 65% 30%;
    --muted: 270 40% 92%;
    --muted-foreground: 270 25% 45%;
    --accent: 270 50% 80%;
    --accent-foreground: 270 65% 30%;
    --destructive: 340 70% 55%;
    --destructive-foreground: 0 0% 100%;
    --border: 270 30% 85%;
    --input: 270 30% 85%;
    --ring: 270 70% 55%;
    --chart-1: 280 76% 60%;
    --chart-2: 260 58% 55%;
    --chart-3: 240 50% 50%;
    --chart-4: 300 60% 65%;
    --chart-5: 320 70% 60%;
    --radius: 0.5rem;
    --sidebar-background: 0 0% 97%;
    --sidebar-foreground: 270 20% 20%;
    --sidebar-primary: 270 65% 52%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 270 50% 85%;
    --sidebar-accent-foreground: 270 65% 30%;
    --sidebar-border: 270 25% 85%;
    --sidebar-ring: 270 70% 55%;
    --btnViolet: 270 100% 70%;
    --btnVioletHover: 270 90% 75%;
    --btnBlue: 260 100% 63%;
    --btnBlueHover: 260 90% 67%;
    --bgBlur: 270 20% 40% 0.8;
    --titlePrimary: 270 65% 40%;
    --textPrimary: 270 50% 20%;
    --textSecondary: 270 60% 70%;
    --border-color: #D3C3F3;
    --bgBtnColor: #be8dfd;
    --hoverBgBtn: #bc97ff;
}


  
  .dark {
    --background: 0 0% 5%; 
    --foreground: 270 30% 95%;
    --card: 270 25% 8%;
    --card-foreground: 270 30% 95%;
    --popover: 270 25% 5%;
    --popover-foreground: 270 30% 95%;
    --primary: 270 75% 58%;
    --primary-foreground: 0 0% 100%;
    --secondary: 270 25% 15%;
    --secondary-foreground: 270 40% 80%;
    --muted: 270 20% 12%;
    --muted-foreground: 270 15% 60%;
    --accent: 270 75% 58%;
    --accent-foreground: 0 0% 100%;
    --destructive: 340 70% 45%;
    --destructive-foreground: 270 30% 95%;
    --border: 270 20% 20%;
    --input: 270 20% 20%;
    --ring: 270 75% 58%;
    --chart-1: 280 70% 55%;
    --chart-2: 260 50% 50%;
    --chart-3: 300 65% 55%;
    --chart-4: 320 80% 45%;
    --chart-5: 340 65% 50%;
    --sidebar-background: 270 25% 8%;
    --sidebar-foreground: 270 30% 95%;
    --sidebar-primary: 270 75% 58%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 270 25% 12%;
    --sidebar-accent-foreground: 0 0% 100%;
    --sidebar-border: 270 20% 20%;
    --sidebar-ring: 270 75% 58%;
    --titlePrimary: 270 65% 70%;
    --textPrimary: 270 45% 85%;
    --border-color: #3A2A4C;
    --bgBtnColor: #2E2038;
    --hoverBgBtn: #4B3660;
}
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
